.code-block{
    background-image: url(./temp_imgs/appbg.png);
}
.application-button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: powderblue;
    width: max-content;
    user-select: none;
}

.application-container {
    margin: 20px;
    width: 100%;
    height: 100%;
}
