.code-block{
    background-image: url(./temp_imgs/appbg.png);
}
.application-button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: powderblue;
    width: max-content;
    user-select: none;
}

.application-container {
    margin: 20px;
    width: 100%;
    height: 100%;
}

.apply-page {
    background: #fafafa; /* replace with your preferred color or image */
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
  }


@font-face {
    font-family: 'Circular Std';
    src: url('../circular-std-medium-500.ttf') format('truetype');
}

