.home-landing {
    position: relative
}

.home-bkg-img img {
    max-width: 100vw;
    /* max-height: 100vh; */
    width: auto;
    margin: auto;
}

.home-text-on-img {
    position: absolute;
    left: 40%;
    bottom: 40%;
    color: white;
}
.home-text-on-img h1 {
    font-size: 64px;
}