.navbar-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 5px -1px rgba(0,0,0,.2);
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: white;
} 
.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-logo .ipp {
  width: 40px;
  padding-right: 30px;
}

.navbar-logo .brown {
  width: 80px;
  padding-right: 30px;
}


.navbar-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.navbar-links-container a:hover {
  color: #193AA5;
}
.active {
  background-color: #193AA5;
  color: white;
}
.navbar-links {
  padding: 15px 23px;
}
/* .navbar-links-container button {
  background-color: #193AA5;
  border: none;
  color: white;
  padding: 15px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
} */

@font-face {
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 200;
  font-style: bold;
  src: url('https://use.typekit.net/knm8cnu.css') format('truetype');
}
